@model Book[]

@{
    ViewData["Title"] = "Search result";
}
 
<h1>Result of search</h1>


@if (Model.Length == 0)
{
    <p>Nothing founded</p>
}
else
{
    <ul>
        @foreach (var book in Model)
        {
            <li><a href="@Url.Action("Index", "Book", new {Id= book.Id})">@book.Title</a></li>
        }
    </ul>
}

